@{
    ViewBag.Title = "Eventbrite";
}
    <div class="header-blur">
        <br /><br /><br />
        <div class=" background-pic">
            <br /><br /><br /><br /><br /><br /><br /><br />
            <h3 style="color:lightgray;margin-left:30px;font-size:2em;font-weight:700">Made for</h3>
            <h1 style="color:white;margin-left:30px;font-size:5em;font-weight:700">those who do</h1>
        </div>
    </div>
    <div>
        <!-- Insert Action links here-->
        <button>Search</button>
    </div>
    <div>
        <button>Click here to see Last Minute Deals!</button>
    </div>