body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.background-pic {   
    background-image: url('Images/Event3.jpg'); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    position:relative;
    margin-left:200px;
    margin-right:200px;
    
    
}
.header-blur {
    /*content: "";*/
    background-image: url('Images/Event1.jpg');
    height: 500px;
    position:fixed;
    top: 0;    
    left: 0;
    right: 0;
    background-color: #fff; 
    margin-left:0;
    margin-right:0;
}
